@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido a nuestra aplicación!</h1>
    <p>Explora nuestras funcionalidades y descubre todo lo que puedes hacer con ASP.NET Core.</p>
</div>